src/main/webapp/wsdl/ctms.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="iptv" xmlns:intf="iptv" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="iptv">
  <wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="iptv">
   
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   
  <complexType name="CSPResult">
    
    <sequence>
     
      <element name="Result" type="xsd:int"/>
     
      <element name="ErrorDescription" nillable="true" type="soapenc:string"/>
    
    </sequence>
   
  </complexType>
  
</schema>
  </wsdl:types>
  <wsdl:message name="ResultNotifyResponse">
    <wsdl:part name="ResultNotifyReturn" type="impl:CSPResult">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ResultNotifyRequest">
    <wsdl:part name="CSPID" type="soapenc:string">
    </wsdl:part>
    <wsdl:part name="LSPID" type="soapenc:string">
    </wsdl:part>
    <wsdl:part name="CorrelateID" type="soapenc:string">
    </wsdl:part>
    <wsdl:part name="CmdResult" type="xsd:int">
    </wsdl:part>
    <wsdl:part name="ResultFileURL" type="soapenc:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CSPResponse">
    <wsdl:operation name="ResultNotify" parameterOrder="CSPID LSPID CorrelateID CmdResult ResultFileURL">
      <wsdl:input message="impl:ResultNotifyRequest" name="ResultNotifyRequest">
    </wsdl:input>
      <wsdl:output message="impl:ResultNotifyResponse" name="ResultNotifyResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ctmsSoapBinding" type="impl:CSPResponse">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ResultNotify">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="ResultNotifyRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="ResultNotifyResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="iptv" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CSPResponseService">
    <wsdl:port binding="impl:ctmsSoapBinding" name="ctms">
      <wsdlsoap:address location="http://localhost:8099/MySsmWebProject/services/ctms"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
